{% load django_vite %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>
      {% block title %}{{ project_name }}{% endblock title %}
    </title>
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link href="https://fonts.bunny.net/css2?family=Geist:wght@300;400;500;600;700&family=Geist+Mono:wght@400;500&family=Inter:wght@400;500;600;700&display=swap"
          rel="stylesheet" />
    {% vite_hmr_client %}
    {% block extra_head %}{% endblock %}
  </head>
  <body class="antialiased">
    {% block body %}{% endblock body %}
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
