{% extends "page.html" %}
{% load django_vite %}

{% block title %}About{% endblock title %}

{% block extra_head %}
    {% vite_hmr_client %}
    {% vite_react_refresh %}
    {% vite_asset 'js/test.js' %}
    {% vite_asset 'js/widget/main.jsx' %}
{% endblock %}

{% block content %}
<div class="space-y-6">
  <div>
    <h2 class="text-3xl font-bold tracking-tight text-gray-900">
      About {{ project_name }}
    </h2>
    <p class="mt-4 text-lg text-gray-600">
      This is the about page
    </p>
    <div id="widget"></div>
  </div>
</div>
{% endblock content %}
